.container{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
} 
body{
     background-color: rgb(36, 35, 37);
}



.btn{
   width: 150px;
   height: 150px;
   padding: 20px;
   margin:20px;
   color:white;
   border:2px solid white;
   cursor: pointer;
   font-size: large;
   text-transform:capitalize;
}
.purple{
     background-color: purple;
}
.red{
     background-color: red;
}
.green{
     background-color: green;
}
.yellow{
     background-color: yellow;
}
.tale{
     background-color: teal;
}
.blue{
     background-color: blue;
}